streamlit
python-dotenv
langchain
langchain-groq
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-agents
langchain-tools
langchain-utilities
langchain-hub
langchain-chains
langchain-retrievers
langchain-prompts
langchain-embeddings
faiss-cpu
transformers
PyPDF2
openai
duckduckgo-search
